.section-header{
  padding-left: 37.5%; padding-top: 2%; font-family: 'Verdana';font-size: 45px;
}
.cards-wrapper{
  padding-top: 3%; padding-left: 2%;
}
.card-wrapper{
  padding-left: 4%;
}
.card-styling{
  width: 25rem; padding-left: 2%;
}
.recommended-song {
  font-weight: 550;
  color: coral;
  /* Add any other styling you want for recommended songs */
}
.card-image{
  width: 200px;
  height: 200px;
}
