.section-header{
  padding-left: 37.5%; padding-top: 2%; front-family: 'Verdana';font-size: 45px;
}
.cards-wrapper{
  padding-top: 3%; padding-left: 2 %;
}
.card-wrapper{
  padding-left: 4%;
}
.card-styling{
  width: 25rem; padding left: 2%;
}