<!DOCTYPE html>
<html>
<head>
{% load static %}
{% load i18n %}
<title>{% trans "Music" %}</title>
</head>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}">
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> {% trans "Navbar" %} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">{% trans "Home" %} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> {% trans "Link" %} </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Dropdown" %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"> {% trans "Action" %} </a>
                <a class="dropdown-item" href="#"> {% trans "Another action" %} </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> {% trans "Something else here" %} </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  {% trans "Disabled" %} </a>
            </li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> {% trans "Search" %} </button>
            </form>
          </ul>
          {% comment %} <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> {% trans "Search" %} </button>
          </form> {% endcomment %}
          {% if user.is_authenticated %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{user.get_username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}"> {% trans "Logout" %} </a>
              {% comment %} <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"> {% trans "Something else here" %} </a> {% endcomment %}
            </div>
          </div>
          {% else %}
          <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'login'%}?next={{request.path}}"> {% trans "Login/Register" %} </a>
          {% endif %}
        </div>
      </nav>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{%static 'catalog/music1.jpg'%} " class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'catalog/music1.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{%static 'catalog/music1.jpg'%}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      {% endblock %}
      {% block content %}
      {% endblock %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>