{% extends "catalog/index.html" %}
{% load static %}
{% load i18n %}

{% block title %}All Songs{% endblock %}
{% block body %}
<h1> Listenlater </h1>
{% for i in song %}
<div></div>
<div class="card mb-3" style="max-width: 940px; padding-top: 3%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/media/{{i.listen.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: black; font-weight: 650;">{{ i.listen.name }}</h5>
          {% comment %} <p class="card-text">{{i.tags}}</p> {% endcomment %}
          <a href="/catalog/songs/{{i.listen.id}}"><button class="btn btn-outline-danger">Listen Song</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}