{% extends "catalog/index.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<h2 class = "section-header"> {% trans "Trending Songs" %}</h2>
<div class = "row cards-wrapper">
{% for i in song %}
<div class = "card-wrapper">
<div class="card card-styling">
  <img src="{%static 'catalog/music.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {% trans "Song's name" %}</h5>
    <p class="card-text"> {% trans "Mô tả" %}</p>
  <a href="#" class="btn btn-primary"> {% trans "Listen song" %}</a>
  </div>
</div>
</div>
{% endfor %}
</div>
<hr>

<h2 class = "section-header">{% trans "Your Favourite Playlist" %}</h2>
<div class = "row cards-wrapper">
{% for i in song %}
  <div class = "card-wrapper">
  <div class="card card-styling">
  <img src="{%static 'catalog/music.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {% trans "Song's name" %}</h5>
    <p class="card-text"> {% trans "Mô tả" %}</p>
  <a href="#" class="btn btn-primary"> {% trans "Listen song" %}</a>
  </div>
</div>
</div>
{% endfor %}
</div>
<hr>


<h2 class = "section-header">{% trans "Your liked songs" %}</h2>
<div class = "row cards-wrapper">
{% for i in song %}
  <div class = "card-wrapper">
  <div class="card card-styling">
  <img src="{%static 'catalog/music.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {% trans "Song's name" %}</h5>
    <p class="card-text"> {% trans "Mô tả" %}</p>
  <a href="#" class="btn btn-primary"> {% trans "Listen song" %}</a>
  </div>
</div>
</div>
{% endfor %}
</div>
<hr>

{% endblock %}